<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
    <link rel="stylesheet" href="/static/blogwebsite.css">
</head>
<body>
        <div class="container">
            <div class="box1">
                <h2>Blogs</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt recusandae quaerat quia accusamus dignissimos mollitia nesciunt aperiam ipsa cupiditate minus!</p>
            </div>
            <div class="box2">
                <div class="card">
                    <a href="#"><img src="/static/life.jpg" alt="life" height="200px" width="200px"></a>
                    <a id="tit" href="#"><h3>Life is beautiful</h3></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloribus numquam magnam ipsa eligendi voluptatibus labore. Cumque nulla praesentium facere.</p>
                    <div class="cardfooter">
                        <div class="author">
                            <img src="/static/author4.jpg" alt="author1" height="50px" width="50px">
                            <div class="nameAuthor">
                                <span>Rima</span>
                                <span>Sep 19, 2024</span>
                            </div>
                        </div>
                        <button>Life</button>
                    </div>
                </div>
                <div class="card">
                    <a href="#"> <img src="/static/technology.jpg" alt="tech" height="200px" width="200px"></a> 
                    <a id="tit" href="#"><h3>The ever-growing technology</h3></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloribus numquam magnam ipsa eligendi voluptatibus labore. Cumque nulla praesentium facere.</p>
                    <div class="cardfooter">
                        <div class="author">
                            <img src="/static/author3.jpg" alt="author2" height="50px" width="50px">
                            <div class="nameAuthor">
                                <span>Mohan</span>
                                <span>Aug 15; 2024</span>
                            </div>
                        </div>
                        <button>Tech</button>
                    </div>
                </div>
                <div class="card">
                    <a href="#"><img src="/static/mentalhealth.jpg" alt="bh" height="200px" width="200px"></a>       
                    <a  id="tit" href="#"><h3>Mental Wellness</h3></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloribus numquam magnam ipsa eligendi voluptatibus labore. Cumque nulla praesentium facere.</p>
                    <div class="cardfooter">
                        <div class="author">
                            <img src="/static/author3.jpg" alt="author3" height="50px" width="30px">
                            <div class="nameAuthor">
                                <span>Rohit</span>
                                <span>Sep 16, 2024</span>
                            </div>
                        </div>
                        <button>Mental Health</button>
                    </div>
                </div>
                <div class="card">
                    <a href="#"><img src="/static/physicalhealth.jpg" alt="physicalhealth" height="200px" width="200px" ></a>
                    <a id="tit"href="#"><h3>Take Care!!</h3></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloribus numquam magnam ipsa eligendi  voluptatibus labore. Cumque nulla praesentium facere.</p>
                    <div class="cardfooter">
                        <div class="author">
                            <img src="/static/author4.jpg" alt="au" height="50px" width="20px">
                            <div class="nameAuthor">
                                <span>Sumita</span>
                                <span>Sep 16,2024</span>
                            </div>
                        </div>
                        <button>Physical Health</button>
                    </div>
                </div>
                <div class="card">
                    <a href="#"> <img src="/static/solar energy.jpg" alt="solar" height="200px" width="200px"></a>
                    <a id="tit" href="#"><h3>Solar Energy</h3></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloribus numquam magnam ipsa eligendi voluptatibus labore. Cumque nulla praesentium facere.</p>
                    <div class="cardfooter">
                        <div class="author">
                            <img src="/static/author3.jpg" alt="th" height="50px" width="50px">
                            <div class="nameAuthor">
                                <span>Aditya</span>
                                <span>Sep 23, 2024</span>
                            </div>
                        </div>
                        <button>Solar Energy</button>
                    </div>
                </div>
                <div class="card">
                    <a href="#"><img src="/static/timemangement.jpg" alt="ggg" height="200px" width="200px"></a>
                    <a id="tit" href="#"><h3>Manage your time well</h3></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloribus numquam magnam ipsa eligendi voluptatibus labore. Cumque nulla praesentium facere.</p>
                    <div class="cardfooter">
                        <div class="author">
                            <img src="/static/author4.jpg" alt="art" height="50px" width="50px">
                            <div class="nameAuthor">
                                <span>Radhika</span>
                                <span>Sep 25, 2024</span>
                            </div>
                        </div>
                        <button>Time</button>
                    </div>
                </div>
                <div class="card">
                    <a href="#"><img src="/static/food.jpg" alt="foody" height="200px" width="200px"></a>
                    <a id="tit" href="#"><h3>Healthy Food</h3></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloribus numquam magnam ipsa eligendi voluptatibus labore. Cumque nulla praesentium facere.</p>
                    <div class="cardfooter">
                        <div class="author">
                            <img src="/static/author3.jpg" alt="auth" height="50px" width="50px">
                            <div class="nameAuthor">
                                <span>Rohan</span>
                                <span>Nov 17, 2024</span>
                            </div>
                        </div>
                        <button>Food</button>
                    </div>
                </div>
                <div class="card">
                    <a href="#"> <img src="/static/travel.jpg" alt="travel" height="200px" width="200px"></a>
                    <a id="tit" href="#"><h3>Travel Bucket List</h3></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloribus numquam magnam ipsa eligendi voluptatibus labore. Cumque nulla praesentium facere.</p>
                    <div class="cardfooter">
                        <div class="author">
                            <img src="/static/author4.jpg" alt="auth" height="50px" width="50px">
                            <div class="nameAuthor">
                                <span>Adya</span>
                                <span>Dec 13, 2024</span>
                            </div>
                        </div>
                        <button>Travel</button>
                    </div>
                </div>
            </div>
            
        </div>  
</body>
</html>