<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
    <link rel="stylesheet" href="/static/blogwebsite.css">
    
</head>
<body>
<div>
    <header class="header-content">

        <a href="#logo" class="logo">
            <img src="/static/logo without caption.png" alt="logoImage" class="logo-icon" />
            <span class="logo-text">MindHaven: Track, Reflect, Heal</span>
        </a>

        <nav class="nav">
            <a href="home" class="nav-link">Home</a>
            <a href="journal" class="nav-link">Journaling</a>
            <a href="moodtracker" class="nav-link">Mood-Tracking</a>
            <a href="blogweb" class="nav-link">Blog</a>
            <a href="profilepage.html" class="nav-link" id="profile">👤</a>
        </nav>
        <a href="#contact" class="contact-button">
            Contact Us
        </a>
        <button type="button" class="menu-button">
            <img src="/static/Hamburger.svg" alt="menuButton" class="menu-icon" />
        </button>

    </header>

</div>
</div>
        <div class="container">
            <div class="box1">
                <h2>Blogs</h2>
                <p>Blogs are a powerful source of inspiration and strength. They offer real-life stories, expert tips, and actionable advice to help you conquer anxiety, boost emotional well-being, and lead a balanced life. Dive into these empowering resources and take the first step toward transforming your mental health journey today! </p>
            </div>
            <div class="box2">
                <div class="card">
                    <a href="https://www.mindful.org/"><img src="/static/blog1.jpg" alt="life" height="200px" width="200px"></a>
                    <a id="tit" href="https://www.mindful.org/"><h3>Mindful.org - Mental Health & Well-being</h3></a>
                    <p>Mindful.org focuses on enhancing emotional well-being through mindfulness practices. It offers insightful articles on reducing stress, improving focus, and cultivating calmness in daily life. With practical exercises and expert advice, it empowers readers to integrate mindfulness into their routines for lasting mental health benefits.</p>
                    <div class="cardfooter">
                        <button><a href="https://www.mindful.org/">READ HERE</a></button>
                    </div>
                </div>
                <div class="card">
                    <a href="https://www.psychologytoday.com/"> <img src="/static/blog2.jpg" alt="tech" height="200px" width="200px"></a> 
                    <a id="tit" href="https://www.psychologytoday.com/"><h3>Psychology Today - Mental Health Insights</h3></a>
                    <p>Psychology Today explores a wide range of mental health topics, including anxiety, depression, and relationships. Written by psychologists and mental health professionals, the blog provides research-backed advice, coping strategies, and thought-provoking insights to help readers develop emotional resilience and lead healthier lives.</p>
                    <div class="cardfooter">
                        <button><a href="https://www.psychologytoday.com/">READ HERE</a></button>
                    </div>
                </div>
                <div class="card">
                    <a href="https://www.headspace.com/articles"><img src="/static/blog3.jpg" alt="bh" height="200px" width="200px"></a>       
                    <a  id="tit" href="https://www.headspace.com/articles"><h3>Headspace Blog - Mindfulness for Mental Health</h3></a>
                    <p>Headspace’s blog focuses on mindfulness and meditation to enhance mental health. It provides expert tips on reducing stress, improving sleep, and maintaining emotional balance. Readers can explore guided techniques that help cultivate mindfulness for a calmer and more focused mind.</p>
                    <div class="cardfooter">
                        <button><a href="https://www.headspace.com/articles">READ HERE</a></button>
                    </div>
                </div>
                <div class="card">
                    <a href="https://tinybuddha.com/"><img src="/static/blog4.jpeg" alt="physicalhealth" height="200px" width="200px" ></a>
                    <a id="tit"href="https://tinybuddha.com/"><h3>Tiny Buddha - Simple Wisdom for Complex Lives</h3></a>
                    <p>Tiny Buddha shares practical wisdom and real-life experiences to promote emotional growth and inner peace. With stories on relationships, self-care, and overcoming adversity, the blog encourages readers to practice mindfulness, gratitude, and compassion while navigating the complexities of modern life.</p>
                    <div class="cardfooter">
                        <button><a href="https://tinybuddha.com/">READ HERE</a></button>
                    </div>
                </div>
                <div class="card">
                    <a href="https://www.nami.org/blogs/nami-blog/"> <img src="/static/blog5.webp" alt="solar" height="200px" width="200px"></a>
                    <a id="tit" href="https://www.nami.org/blogs/nami-blog/"><h3>NAMI Blog - Support for Mental Health</h3></a>
                    <p>The National Alliance on Mental Illness (NAMI) blog offers stories of hope, advice, and resources for individuals and families affected by mental illness. It advocates for awareness, provides coping strategies, and inspires through personal narratives that encourage open conversations about mental health.</p>
                    <div class="cardfooter">
                        <button><a href="https://www.nami.org/blogs/nami-blog/">READ HERE</a></button>
                    </div>
                </div>
                <div class="card">
                    <a href="https://themighty.com/"><img src="/static/blog6.jpg" alt="ggg" height="200px" width="200px"></a>
                    <a id="tit" href="https://themighty.com/"><h3>The Mighty - Mental Health Journeys</h3></a>
                    <p>The Mighty shares authentic stories and experiences from individuals living with mental health challenges. Covering topics like depression, anxiety, and PTSD, it fosters a supportive community where readers find relatable stories, encouragement, and advice to manage their mental health.</p>
                    <div class="cardfooter">
                        <button><a href="https://themighty.com/">READ HERE</a></button>
                    </div>
                </div>
                <div class="card">
                    <a href="https://www.verywellmind.com/"><img src="/static/blog7.webp" alt="foody" height="200px" width="200px"></a>
                    <a id="tit" href="https://www.verywellmind.com/"><h3>Verywell Mind - Expert Advice on Mental Health</h3></a>
                    <p>Verywell Mind delivers expert-reviewed information on mental health, self-care, and coping techniques. Covering topics from stress management to building emotional resilience, it offers easy-to-understand, science-backed tips to help readers make informed decisions for better mental well-being.
                    </p>
                    <div class="cardfooter">
                        <button><a href="https://www.verywellmind.com/">READ HERE</a></button>
                    </div>
                </div>
                <div class="card">
                    <a href="https://happiful.com/"> <img src="/static/blog8.jpg" alt="travel" height="200px" width="200px"></a>
                    <a id="tit" href="https://happiful.com/"><h3>Happiful Magazine - Positive Mental Health Stories
                    </h3></a>
                    <p>Happiful Magazine shares inspiring stories, practical advice, and resources to promote mental well-being. It focuses on highlighting positive narratives and offering tips to overcome challenges, encouraging readers to prioritize self-care and foster healthier habits.</p>
                    <div class="cardfooter">
                        <button><a href="https://happiful.com/">READ HERE</a></button>
                    </div>
                </div>
            </div>
            
        </div>  
        <script src="https://cdn.botpress.cloud/webchat/v2.3/inject.js"></script>
        <script src="https://files.bpcontent.cloud/2025/03/25/13/20250325135759-7PRDTQ1T.js"></script>
</body>
</html>